<div class="row">
  <div class="col-12 col-sm-2">
    <div class="row py-4">
      <div class="col-12 mb-2">
        <app-main-game-button></app-main-game-button>
      </div>
    </div>
  </div>
  <div class="col-12 col-sm-5">
    <div class="container">
      <h1 class="mt-sm-5 text-center fw-bold">{{ 'notFound.title' | translate }}</h1>
      <p class="mt-4 text-center">{{ 'notFound.message' | translate }}</p>
      <p class="text-center">{{ 'notFound.hint' | translate }}</p>
    </div>
  </div>
</div>
