<div class="row">
  <div class="col-12 col-sm-3">
    <div class="row gy-2 py-2">
      <app-dark-mode-toggle class="col-12"></app-dark-mode-toggle>
    </div>
    <br>
    <div class="row gy-2">
        <app-main-game-button class="col-12">
        </app-main-game-button>
    </div>
    <br>
  </div>
  <div class="col-12 col-sm-5">
    <div class="container ">
      <h1 class="mt-sm-5 text-center fw-bold">Credits & Acknowledgments</h1>

      <div class="mt-4" style="text-align: justify;">
        <h3 class="fw-bold">Created By</h3>
        <p>André Xavier Martinez</p>
        <p>If you'd like share feedback, reach out on <a href="https://twitter.com/zeroxm" target="_blank">Twitter</a> or <a
            href="https://bsky.app/profile/zeroxm.bsky.social" target="_blank">Bluesky</a></p>
        <p>This game was heavily inspired on the Victory Road Run from <a href="https://www.tiktok.com/@dartboyy" target="_blank">dartboyy</a>. Check their content :)</p>
      </div>

      <div class="mt-4">
        <h3 class="fw-bold">Special Thanks</h3>
        <ul class="list-unstyled">
          <li><a href="https://twitter.com/AuranRage" target="_blank">AuranRage</a> - For the help with data for some roulettes</li>
          <li><a href="https://bsky.app/profile/rainbowrod.bsky.social" target="_blank">Rod</a> - Testing and finding bugs</li>
          <li><a href="https://github.com/Wpcedy" target="_blank">Willian Pires da Conceição</a> - Testing and finding bugs</li>
          <li><a href="https://github.com/PokeAPI/pokeapi" target="_blank">PokéApi</a> - As a resource for this game's data and sprites</li>
          <li><a href="https://bulbapedia.bulbagarden.net/" target="_blank">Bulbapedia</a> - For their trainer's Sprites which are being used in this project</li>
        </ul>
        <p>All image contents of Pokémon and Pokémon related items are Copyright of The Pokémon Company.</p>
      </div>
      <div class="mt-4">
        <h3 class="fw-bold">Thank You for Playing!</h3>
        <p>Hope you can have fun with your friends and family playing this game :)</p>
      </div>
    </div>
  </div>
  <div class="col-12 col-sm-3">

  </div>
</div>