<p>main-game works!</p>
{{getGameState() | async}}
<div class="game-container">

    <div class="badges">
        <app-badges></app-badges>
    </div>

    <div class="main-game">
        <ng-container [ngSwitch]="getGameState() | async">
            <app-generation-roulette
                *ngSwitchCase="'game-start'"
                (generationSelectedEvent)="storeGeneration($event)"
                (trainerGenderEvent)="storeTrainerSprite($event)">
            </app-generation-roulette>
            <app-starter-roulette
                *ngSwitchCase="'starter-pokemon'"
                [generation]="generation"
                (selectedStarterEvent)="storePokemon($event)">
            </app-starter-roulette>
            <app-shiny-roulette
                *ngSwitchCase="'check-shininess'"
                (isShinyEvent)="setShininess($event)">
            </app-shiny-roulette>
            <app-start-adventure-roulette
                *ngSwitchCase="'start-adventure'"
                (catchPokemonEvent)="catchPokemon()"
                (battleTrainerEvent)="evolvePokemon()"
                (buyPotionsEvent)="buyPotions()"
                (doNothingEvent)="doNothing()">
            </app-start-adventure-roulette>
            <app-pokemon-from-generation-roulette
                *ngSwitchCase="'catch-pokemon'"
                [generation]="generation"
                (selectedPokemonEvent)="storePokemon($event)">
            </app-pokemon-from-generation-roulette>
        </ng-container>
    </div>

    <div class="trainer-info">
        <div class="trainer-team">
            <app-trainer-team
                [trainer]="trainer"
                [team]="trainerTeam">
            </app-trainer-team>
        </div>

        <div class="items">
            <app-items
                [trainerItems]="trainerItems">
            </app-items>
        </div>
    </div>
</div>