<div class="game-container">
    <div class="row">
        <div class="extra-options col-12 col-sm-3">
            <div class="toolbar p-2">
                <app-dark-mode-toggle></app-dark-mode-toggle>
                <br>
                <app-restart-game
                    (restartEvent)="closeGameOverModal()">
                </app-restart-game>
                <br>
                {{ getGameState() | async }}
            </div>
        </div>
    
        <div class="main-game col-12 col-sm-5">
            <ng-container [ngSwitch]="getGameState() | async">
                <app-generation-roulette
                    *ngSwitchCase="'game-start'"
                    (generationSelectedEvent)="storeGeneration($event)"
                    (trainerGenderEvent)="storeTrainerSprite($event)">
                </app-generation-roulette>
                <app-starter-roulette
                    *ngSwitchCase="'starter-pokemon'"
                    [generation]="generation"
                    (selectedStarterEvent)="storePokemon($event)">
                </app-starter-roulette>
                <app-shiny-roulette
                    *ngSwitchCase="'check-shininess'"
                    (isShinyEvent)="setShininess($event)">
                </app-shiny-roulette>
                <app-start-adventure-roulette
                    *ngSwitchCase="'start-adventure'"
                    (catchPokemonEvent)="catchPokemon()"
                    (battleTrainerEvent)="chooseWhoWillEvolve()"
                    (buyPotionsEvent)="buyPotions()"
                    (doNothingEvent)="doNothing()">
                </app-start-adventure-roulette>
                <app-pokemon-from-generation-roulette
                    *ngSwitchCase="'catch-pokemon'"
                    [generation]="generation"
                    (selectedPokemonEvent)="storePokemon($event)">
                </app-pokemon-from-generation-roulette>
                <app-pokemon-from-aux-list-roulette
                    #auxListRoulette
                    *ngSwitchCase="'select-from-pokemon-list'"
                    [wheelTitle]="customWheelTitle"
                    [trainerTeam]="auxPokemonList"
                    (selectedMemberEvent)="continueWithPokemon($event)">
                </app-pokemon-from-aux-list-roulette>
                <app-gym-battle-roulette
                    *ngSwitchCase="'gym-battle'"
                    [generation]="generation"
                    [currentRound]="leadersDefeatedAmount"
                    [trainerTeam]="trainerTeam"
                    (battleResultEvent)="gymBattleResult($event)">
                </app-gym-battle-roulette>
                <app-check-evolution-roulette
                    *ngSwitchCase="'check-evolution'"
                    [evolutionCredits]="evolutionCredits"
                    (evolvePokemonEvent)="chooseWhoWillEvolve()"
                    (doNothingEvent)="doNothing()"
                    (setEvolutionCreditEvent)="setEvolutionCredits($event)">
                </app-check-evolution-roulette>
                <app-main-adventure-roulette
                    *ngSwitchCase="'adventure-continues'"
                    (battleTrainerEvent)="chooseWhoWillEvolve()"
                    (catchPokemonEvent)="catchPokemon()"
                    (buyPotionsEvent)="buyPotions()"
                    (doNothingEvent)="doNothing()">
                </app-main-adventure-roulette>
            </ng-container>
        </div>
    
        <div class="trainer-info col-12 col-sm-4">
            <div class="trainer-team">
                <app-trainer-team
                    [trainer]="trainer"
                    [trainerTeam]="trainerTeam"
                    [trainerBadges]="trainerBadges">
                </app-trainer-team>
            </div>
    
            <div class="items">
                <app-items
                    [trainerItems]="trainerItems">
                </app-items>
            </div>
        </div>
    </div>
</div>

<ng-template #explainEventModal let-modal>
	<div class="modal-body">
        <h1>{{ explainEventModalTitle }}</h1>
        <div class="explain-panel">
            <img [src]="explainEventModalImg"
                 height="128">
            <div class="quotes">
                <p>{{explainEventModalText}}</p>
            </div>
        </div>
	</div>
    <div class="modal-footer">
        <button type="button"
                class="btn btn-outline-primary"
                (click)="closeExplainEventModal()">Ok</button>
    </div>
</ng-template>

<ng-template #gameOverModal let-modal>
	<div class="modal-body">
        <h1>Run is Over.</h1>
        <div class="explain-panel">
            <div class="quotes">
                <p>Try Again?</p>
            </div>
        </div>
	</div>
    <div class="modal-footer">
        <button type="button"
                class="btn btn-outline-primary"
                (click)="closeGameOverModal()">Restart</button>
    </div>
</ng-template>