<h1 class="title">{{ 'game.main.roulette.champion.victory' | translate }}</h1>
<p class="respin-reason">{{ (retries > 0) ? currentItem.text+" x"+retries : ""}}</p>
<app-wheel
    #wheel
    [items]="victoryOdds"
    (selectedItemEvent)="onItemSelected($event)">
</app-wheel>

<ng-template #championPresentationModal let-modal>
    <div class="modal-body">
        <h1>{{ 'game.main.roulette.champion.champion' | translate }} {{ champion.name }}!</h1>
        <div class="champion-panel">
            <img [src]="champion.sprite"
                 alt="{{champion.name}}"
                 height="128">
            <div class="quotes">
                <p *ngFor="let quote of champion.quotes">{{quote}}</p>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-primary" (click)="closeModal()">{{ 'game.main.roulette.champion.go' | translate }}</button>
    </div>
</ng-template>

<ng-template #itemUsedModal let-modal>
    <div class="modal-body">
        <h1>{{ 'game.main.roulette.champion.use' | translate }} {{ currentItem.text }}!</h1>
        <div class="item-panel">
            <img [src]="currentItem.sprite" height="128">
            <div class="quotes">
                <p>{{ currentItem.description }}</p>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-primary" (click)="closeModal()">Ok</button>
    </div>
</ng-template>
