<div class="d-flex flex-column align-items-center h-100">
    <h4 class="title-text mt-5">{{ 'game.over.title' | translate }}</h4>
    <div class="card mx-3 my-3"
         [ngClass]="(darkMode) ?  'black-card' : 'white-card'">
        <div class="card-body" >
            <div #captureArea>
                <h4 class="card-title text-center">{{ 'game.over.stoppedBy' | translate }} {{currentRound < 8 ? 'Gym Leader' : currentRound < 12 ? 'Elite Four' : 'Champion'}} {{currentLeader?.name}}</h4>
                <div class="d-flex row">
                    <div class="d-flex flex-column col-8 ps-0 pe-4">
                        <div class="d-flex">
                            <div class="pokemon-container rounded-circle col-4"
                                [ngClass]="(darkMode) ? 'black-border shadow' : 'border white-shadow'"
                                style="--color: {{getPokemonColor(trainerTeam[0])}}">
                                <img [src]="getPokemonSprite(trainerTeam[0])" class="img-fluid rounded-circle">
                            </div>
                            <div class="pokemon-container rounded-circle col-4"
                                [ngClass]="(darkMode) ? 'black-border shadow' : 'border white-shadow'"
                                style="--color: {{getPokemonColor(trainerTeam[1])}}">
                                <img [src]="getPokemonSprite(trainerTeam[1])" class="img-fluid rounded-circle">
                            </div>
                            <div class="pokemon-container rounded-circle col-4"
                                [ngClass]="(darkMode) ? 'black-border shadow' : 'border white-shadow'"
                                style="--color: {{getPokemonColor(trainerTeam[2])}}">
                                <img [src]="getPokemonSprite(trainerTeam[2])" class="img-fluid rounded-circle">
                            </div>
                        </div>
                        <div class="d-flex">
                            <div class="pokemon-container rounded-circle col-4"
                                [ngClass]="(darkMode) ? 'black-border shadow' : 'border white-shadow'"
                                style="--color: {{getPokemonColor(trainerTeam[3])}}">
                                <img [src]="getPokemonSprite(trainerTeam[3])" class="img-fluid rounded-circle">
                            </div>
                            <div class="pokemon-container rounded-circle col-4"
                                [ngClass]="(darkMode) ? 'black-border shadow' : 'border white-shadow'"
                                style="--color: {{getPokemonColor(trainerTeam[4])}}">
                                <img [src]="getPokemonSprite(trainerTeam[4])" class="img-fluid rounded-circle">
                            </div>
                            <div class="pokemon-container rounded-circle col-4"
                                [ngClass]="(darkMode) ? 'black-border shadow' : 'border white-shadow'"
                                style="--color: {{getPokemonColor(trainerTeam[5])}}">
                                <img [src]="getPokemonSprite(trainerTeam[5])" class="img-fluid rounded-circle">
                            </div>
                        </div>
                    </div>
                    <div class="col m-auto pe-0">
                        <div class="trainer-container rounded-circle"
                            [ngClass]="(darkMode) ? 'black-border shadow' : 'border white-shadow'">
                            <img [src]="trainer.sprite" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-end gap-2">
                <button class="btn btn-success"
                        (click)="shareResults()">
                        <ng-icon name="bootstrapShare"></ng-icon> {{ 'game.over.share' | translate }}
                </button>
            </div>
        </div>
    </div>
    <app-restart-game-buttom
        (restartEvent)="resetGameAction()">
    </app-restart-game-buttom>
</div>

