.item-box {
    background-color: rgba(211, 211, 211, 0.5);
}

.white-shadow {
    box-shadow: 0 0 0.5em 0 white;
}

.black-border {
    border: 1px solid #333;
}

.item-section {
    gap: 0.5em;
  }

.item-container {
    padding: 0px;
    aspect-ratio: 1;

    img {
        cursor: pointer;
        width: 100%;
        height: 100%;
        animation: item-show 1s ease-in-out;
    }
}

@keyframes item-show {
    from {
        transform: scale(2);
    }

    to {
        transform: scale(1);
    }
}