.title {
    text-align: center;
}

.modal-footer {
    justify-content: center;
}

.modal-body {
    color: black;
    text-align: center;
}

.modal-body p {
    font-size: medium;
}

.explain-panel {
    display: flex;
    flex-direction: row;
    align-items: center;
	justify-content: center;
}

.message {
    text-align: start;
	cursor: default;
	font-size: 8.6px;
	font-family: "Pokemon GB", Monospace, sans-serif;
	border-radius: 2px;
	padding: 8px;
	position: relative;
	line-height: 16px;
	background: white;
	border: 1px solid white;
	box-shadow: 0 1px 0 1px black,
			  inset 0 1px 0 1px black,
			  0 0 0 1px black,
			  inset 0 0 0 1px black;
	user-select: none;
	max-width: 50%;
}