<div class="wheel-container">
    <!-- Already translated: it comes from translatedItems, not from a key. -->
    <p>{{ currentSegment }}</p>
    <div class="canvas-container">
        <canvas id="wheel"
                #wheel
                [width]="wheelWidth"
                [height]="canvasHeight"
                (click)="spinWheel()">
        </canvas>
        <canvas id="pointer"
                #pointer
                [width]="cursorWidth"
                [height]="canvasHeight">
        </canvas>
    </div>
    <button class="btn my-3"
            [ngClass]="(darkMode | async) ? 'btn-light' : 'btn-dark'"
            [disabled]="!isReady"
            (click)="spinWheel()">
            {{ 'wheel.spin' | translate }}
    </button>
</div>

