<div class="badge-section">
    <div class="row">
        <div class="badge-container rounded-3 col"
            [ngClass]="(darkMode | async) ? 'border' : 'black-border shadow'">
            @if (trainerBadges[0]?.sprite) {
                <img [src]="trainerBadges[0].sprite" class="img-fluid" placement="bottom"
                    ngbTooltip="{{trainerBadges[0].name | translate }}">
            }
        </div>
        <div class="badge-container rounded-3 col"
            [ngClass]="(darkMode | async) ? 'border' : 'black-border shadow'">
            @if (trainerBadges[1]?.sprite) {
                <img [src]="trainerBadges[1].sprite" class="img-fluid" placement="bottom"
                    ngbTooltip="{{trainerBadges[1].name | translate }}">
            }
        </div>
        <div class="badge-container rounded-3 col"
            [ngClass]="(darkMode | async) ? 'border' : 'black-border shadow'">
            @if (trainerBadges[2]?.sprite) {
                <img [src]="trainerBadges[2].sprite" class="img-fluid" placement="bottom"
                    ngbTooltip="{{trainerBadges[2].name | translate }}">
            }
        </div>
        <div class="badge-container rounded-3 col"
            [ngClass]="(darkMode | async) ? 'border' : 'black-border shadow'">
            @if (trainerBadges[3]?.sprite) {
                <img [src]="trainerBadges[3].sprite" class="img-fluid" placement="bottom"
                    ngbTooltip="{{trainerBadges[3].name | translate }}">
            }
        </div>
    </div>
    <div class="row">
        <div class="badge-container rounded-3 col"
            [ngClass]="(darkMode | async) ? 'border' : 'black-border shadow'">
            @if (trainerBadges[4]?.sprite) {
                <img [src]="trainerBadges[4].sprite" class="img-fluid" placement="bottom"
                    ngbTooltip="{{trainerBadges[4].name | translate }}">
            }
        </div>
        <div class="badge-container rounded-3 col"
            [ngClass]="(darkMode | async) ? 'border' : 'black-border shadow'">
            @if (trainerBadges[5]?.sprite) {
                <img [src]="trainerBadges[5].sprite" class="img-fluid" placement="bottom"
                    ngbTooltip="{{trainerBadges[5].name | translate }}">
            }
        </div>
        <div class="badge-container rounded-3 col"
            [ngClass]="(darkMode | async) ? 'border' : 'black-border shadow'">
            @if (trainerBadges[6]?.sprite) {
                <img [src]="trainerBadges[6].sprite" class="img-fluid" placement="bottom"
                    ngbTooltip="{{trainerBadges[6].name | translate }}">
            }
        </div>
        <div class="badge-container rounded-3 col"
            [ngClass]="(darkMode | async) ? 'border' : 'black-border shadow'">
            @if (trainerBadges[7]?.sprite) {
                <img [src]="trainerBadges[7].sprite" class="img-fluid" placement="bottom"
                    ngbTooltip="{{trainerBadges[7].name | translate }}">
            }
        </div>
    </div>
</div>
