.title {
    text-align: center;
}

.modal-body {
    color: black;
    text-align: center;
}

.modal-body p {
    font-size: x-large;
}

.trainer-gender > a {
    text-decoration: underline;
    cursor: pointer;
}