<button type="button" class="btn" [ngClass]="(darkMode | async) ? 'btn-outline-light' : 'btn-outline-dark'"
  (click)="showPCModal()">
  <ng-icon name="bootstrapPcDisplayHorizontal"></ng-icon>
  Access PC
</button>

<ng-template #pcStorageModal let-modal>
  <div class="modal-body" cdkDropListGroup>
    <h2>On Team</h2>
    <div  id="trainerTeam"
          cdkDropList
          cdkDropListOrientation="mixed"
          [cdkDropListData]="trainerTeam"
          class="example-list"
          (cdkDropListDropped)="drop($event)"
          [cdkDropListEnterPredicate]="teamIsFullPredicate">
          @for (pokemon of trainerTeam; track pokemon) {
            <div  class="example-box shadow"
                  cdkDrag>
              <img class="img-fluid" [src]="getSprite(pokemon)">
            </div>
          }
    </div>
    <h2>Stored</h2>
    <div  id="storedPokemon"
          cdkDropList
          cdkDropListOrientation="mixed"
          [cdkDropListData]="storedPokemon"
          class="example-list"
          (cdkDropListDropped)="drop($event)"
          [cdkDropListEnterPredicate]="lastPokemonPredicate">
      @for (pokemon of storedPokemon; track pokemon) {
        <div  class="example-box shadow"
              [cdkDragData]="pokemon"
              cdkDrag>
          <img [src]="getSprite(pokemon)" class="img-fluid">
        </div>
      }
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="logOut()">Logout </button>
  </div>
</ng-template>