<div class="row">
    <div class="col-12 col-sm-2">
      <div class="row gy-2 py-2">
        <app-dark-mode-toggle class="col-12"></app-dark-mode-toggle>
      </div>
      <br>
      <div class="row gy-2">
          <app-main-game-button class="col-12">
          </app-main-game-button>
      </div>
      <br>
    </div>
    <div class="col-12 col-sm-9">
        <div class="container text-center">
            <h1 class="mt-sm-5"><ng-icon name="bootstrapCupHotFill"></ng-icon></h1>
        
            <div class="mt-4">
                <h3>Having fun spinning?</h3>
                <p>If you want to help, you can donate.</p>
                <p>Donations of any amount will be used to maintain the game online.</p>
            </div>
        
            <div class="mt-5">
                <h3>Ways to Support</h3>
                <div class="row">
                    <div class="col-md-6">
                    <p>🇧🇷 É do Brasil? 🇧🇷 Manda um PIX! 🇧🇷</p>
                    <p><strong>PIX Key:</strong> <code>your-pix-key&#64;example.com</code></p>
                    <!-- Optional: Add a PIX QR code here -->
                    </div>
                    <div class="col-md-6">
                    <p>Is there an international option? Try Ko-fi:</p>
                    <a href="https://ko-fi.com/yourkofilink" target="_blank" class="btn btn-danger">
                        <ng-icon name="bootstrapCupHotFill"></ng-icon> Buy me a Coffee
                    </a>
                    </div>
                </div>
            </div>
        
            <div class="mt-5">
                <h3>Thank You for playing!</h3>
                <p>Whether you donate or simply share the game with others, I hope you have fun!</p>
            </div>
        </div>
    </div>
  </div>