<div class="trainer-team-box border rounded-3 shadow p-3 m-3">
    <div class="trainer-section" >
        <div class="trainer-sprite border rounded-3">
            <img [src]="trainer.sprite" alt="Trainer Sprite" class="img-fluid">
        </div>
    </div>
    <div class="team-section">
        <div class="pokemon-container border rounded-3 d-flex justify-content-center align-items-center">
            <img *ngIf="team[0]?.sprite" [src]="team[0].sprite?.front_default" class="img-fluid">
        </div>
        <div class="pokemon-container border rounded-3 d-flex justify-content-center align-items-center">
            <img *ngIf="team[1]?.sprite" [src]="team[1].sprite?.front_default" class="img-fluid">
        </div>
        <div class="pokemon-container border rounded-3 d-flex justify-content-center align-items-center">
            <img *ngIf="team[2]?.sprite" [src]="team[2].sprite?.front_default" class="img-fluid">
        </div>
        <div class="pokemon-container border rounded-3 d-flex justify-content-center align-items-center">
            <img *ngIf="team[3]?.sprite" [src]="team[3].sprite?.front_default" class="img-fluid">
        </div>
        <div class="pokemon-container border rounded-3 d-flex justify-content-center align-items-center">
            <img *ngIf="team[4]?.sprite" [src]="team[4].sprite?.front_default" class="img-fluid">
        </div>
        <div class="pokemon-container border rounded-3 d-flex justify-content-center align-items-center">
            <img *ngIf="team[5]?.sprite" [src]="team[5].sprite?.front_default" class="img-fluid">
        </div>
    </div>
</div>