<div class="trainer-team-box rounded-3 p-3 m-3 row gap-3"
     [ngClass]="(darkMode | async) ? 'border white-shadow' : 'black-border shadow'">
    <div class="container" >
          <div class="row gap-2">
               <div class="trainer-sprite rounded-3 col-3"
                    [ngClass]="(darkMode | async) ? 'border white-shadow' : 'black-border shadow'">
                    <img [src]="trainer.sprite" alt="Trainer Sprite" class="img-fluid">
               </div>
               <app-badges
                    class="col-8"
                    [trainerBadges]="trainerBadges">
               </app-badges>
          </div>
    </div>
    <div class="container">
          <div class="row gap-2">
               <div class="row col-12 gap-2 p-0">
                    @for (i of [0,1,2,3,4,5]; track i) {
                         <div class="pokemon-container rounded-3 col-3"
                              [ngClass]="(darkMode | async) ? 'border' : 'black-border shadow'">
                              @if (trainerTeam[i]?.sprite) {
                                   <img [src]="getSprite(trainerTeam[i])"
                                        class="img-fluid"
                                        placement="bottom"
                                        ngbTooltip="{{ trainerTeam[i].text | translate }}">
                              }
                         </div>
                    }
               </div>
               <div class="col-12 p-0 d-flex flex-column flex-md-row gap-2">
                    <app-storage-pc></app-storage-pc>
                    <app-pokedex></app-pokedex>
               </div>
          </div>
    </div>
</div>
