.modal-footer {
	justify-content: center;
}

.modal-body {
	text-align: center;
}

.modal-body p {
	font-size: medium;
}

.modal-body h1,
.modal-body h2 {
	margin-bottom: 1rem;
}

.explain-panel {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 1rem;
}

.pokemon-switch-panel {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 1rem;
}

.pokemon-switch-panel img,
.explain-panel img,
.item-panel img {
	filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.2));
}

.message {
	text-align: start;
	cursor: default;
	font-size: 8.6px;
	font-family: "Pokemon GB", Monospace, sans-serif;
	border-radius: 8px;
	padding: 12px;
	position: relative;
	line-height: 16px;
	background: white;
	color: #333;
	border: 2px solid #333;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
	user-select: none;
	max-width: 50%;
}

.item-panel {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 1rem;
}
