@switch (currentGameState) {
  @case ('game-start') {
    <app-generation-roulette
        (generationSelectedEvent)="handleGenerationSelected()">
    </app-generation-roulette>
  }
  @case ('character-select') {
    <app-character-select
        (trainerSelectedEvent)="handleTrainerSelected()">
    </app-character-select>
  }
  @case ('starter-pokemon') {
    <app-pokemon-pool-roulette
        pool="starter"
        (selectedPokemonEvent)="capturePokemon($event)">
    </app-pokemon-pool-roulette>
  }
  @case ('check-shininess') {
    <app-shiny-roulette
        (isShinyEvent)="setShininess($event)">
    </app-shiny-roulette>
  }
  @case ('start-adventure') {
    <app-start-adventure-roulette
        (catchPokemonEvent)="catchPokemon()"
        (battleTrainerEvent)="chooseWhoWillEvolve($event)"
        (buyPotionsEvent)="buyPotions()"
        (doNothingEvent)="doNothing()">
    </app-start-adventure-roulette>
  }
  @case ('catch-pokemon') {
    <app-pokemon-from-generation-roulette
        [currentRound]="leadersDefeatedAmount"
        (selectedPokemonEvent)="capturePokemon($event)">
    </app-pokemon-from-generation-roulette>
  }
  @case ('select-from-pokemon-list') {
    <app-pokemon-from-aux-list-roulette
        #auxListRoulette
        [wheelTitle]="customWheelTitle"
        [trainerTeam]="auxPokemonList"
        (selectedMemberEvent)="continueWithPokemon($event)">
    </app-pokemon-from-aux-list-roulette>
  }
  @case ('select-from-item-list') {
    <app-select-from-item-list-roulette
        [wheelTitle]="customWheelTitle"
        [items]="auxItemList"
        (selectedItemEvent)="continueWithItem($event)">
    </app-select-from-item-list-roulette>
  }
  @case ('select-form') {
    <app-select-form-roulette
        [forms]="pokemonForms"
        (selectedFormEvent)="selectPokemonForm($event)">
    </app-select-form-roulette>
  }
  @case ('gym-battle') {
    <app-gym-battle-roulette
        [currentRound]="leadersDefeatedAmount"
        [(fromLeader)]="fromLeader"
        (battleResultEvent)="gymBattleResult($event)">
    </app-gym-battle-roulette>
  }
  @case ('check-evolution') {
    <app-check-evolution-roulette
        [eventSource]="checkEvolutionSource"
        [evolutionCredits]="run.evolutionCredits"
        (evolutionCreditsChange)="run.evolutionCredits = $event"
        (evolvePokemonEvent)="chooseWhoWillEvolve($event)"
        (doNothingEvent)="doNothing()">
    </app-check-evolution-roulette>
  }
  @case ('adventure-continues') {
    <app-main-adventure-roulette
        [respinReason]="respinReason"
        [respinReasonParams]="respinReasonParams"
        (catchPokemonEvent)="catchPokemon()"
        (battleTrainerEvent)="chooseWhoWillEvolve($event)"
        (buyPotionsEvent)="buyPotions()"
        (doNothingEvent)="doNothing()"
        (catchTwoPokemonEvent)="catchTwoPokemon()"
        (visitDaycareEvent)="chooseWhoWillEvolve($event)"
        (teamRocketEncounterEvent)="teamRocketEncounter()"
        (mysteriousEggEvent)="mysteriousEgg()"
        (legendaryEncounterEvent)="legendaryEncounter()"
        (tradePokemonEvent)="tradePokemon()"
        (findItemEvent)="findItem()"
        (exploreCaveEvent)="exploreCave()"
        (snorlaxEncounterEvent)="snorlaxEncounter()"
        (multitaskEvent)="multitask()"
        (goFishingEvent)="goFishing()"
        (findFossilEvent)="findFossil()"
        (battleRivalEvent)="battleRival()"
        (safariZoneEvent)="safariZone()"
        (areaZeroEvent)="areaZero()">
    </app-main-adventure-roulette>
  }
  @case ('team-rocket-encounter') {
    <app-team-rocket-roulette
        [stolenPokemon]="run.stolenPokemon"
        (stealPokemonEvent)="stealPokemon()"
        (nothingHappensEvent)="doNothing()"
        (defeatInBattleEvent)="teamRocketDefeated()">
    </app-team-rocket-roulette>
  }
  @case ('mysterious-egg') {
    <app-mysterious-egg-roulette
        (selectedPokemonEvent)="capturePokemon($event)">
    </app-mysterious-egg-roulette>
  }
  @case ('legendary-encounter') {
    <app-pokemon-pool-roulette
        pool="legendary"
        (selectedPokemonEvent)="legendaryCaptureChance($event)">
    </app-pokemon-pool-roulette>
  }
  @case ('catch-legendary') {
    <app-catch-legendary-roulette
        [currentRound]="leadersDefeatedAmount"
        (catchLegendaryEvent)="legendaryCaptureSuccess()"
        (nothingHappensEvent)="doNothing()">
    </app-catch-legendary-roulette>
  }
  @case ('trade-pokemon') {
    <app-trade-pokemon-roulette
        (selectedPokemonEvent)="performTrade($event)">
    </app-trade-pokemon-roulette>
  }
  @case ('find-item') {
    <app-find-item-roulette
        (itemSelectedEvent)="receiveItem($event)">
    </app-find-item-roulette>
  }
  @case ('safari-zone') {
    <app-pokemon-pool-roulette
        pool="safari"
        [currentRound]="leadersDefeatedAmount"
        (selectedPokemonEvent)="capturePokemon($event)">
    </app-pokemon-pool-roulette>
  }
  @case ('area-zero') {
    <app-area-zero-roulette
        (selectedPokemonEvent)="paradoxCaptureChance($event)">
    </app-area-zero-roulette>
  }
  @case ('catch-paradox') {
    <app-catch-paradox-roulette
        [currentRound]="leadersDefeatedAmount"
        (catchParadoxEvent)="paradoxCaptureSuccess()"
        (nothingHappensEvent)="doNothing()">
    </app-catch-paradox-roulette>
  }
  @case ('explore-cave') {
    <app-explore-cave-roulette
        (catchCavePokemonEvent)="catchCavePokemon()"
        (battleTrainerEvent)="chooseWhoWillEvolve($event)"
        (findItemEvent)="findItem()"
        (getLostEvent)="getLost()"
        (catchZubatEvent)="catchZubat()"
        (findFossilEvent)="findFossil()"
        (teamRocketEncounterEvent)="teamRocketEncounter()">
    </app-explore-cave-roulette>
  }
  @case ('catch-cave-pokemon') {
    <app-pokemon-pool-roulette
        pool="cave"
        (selectedPokemonEvent)="capturePokemon($event)">
    </app-pokemon-pool-roulette>
  }
  @case ('find-fossil') {
    <app-pokemon-pool-roulette
        pool="fossil"
        (selectedPokemonEvent)="capturePokemon($event)">
    </app-pokemon-pool-roulette>
  }
  @case('snorlax-encounter') {
    <app-snorlax-roulette
        [currentRound]="leadersDefeatedAmount"
        (runAwayEvent)="doNothing()"
        (defeatSnorlaxEvent)="chooseWhoWillEvolve($event)"
        (catchSnorlaxEvent)="catchSnorlax()">
    </app-snorlax-roulette>
  }
  @case ('go-fishing') {
    <app-pokemon-pool-roulette
        pool="fish"
        (selectedPokemonEvent)="capturePokemon($event)">
    </app-pokemon-pool-roulette>
  }
  @case ('battle-rival') {
    <app-rival-battle-roulette
        [currentRound]="leadersDefeatedAmount"
        (battleResultEvent)="rivalBattleResult($event)">
    </app-rival-battle-roulette>
  }
  @case ('elite-four-preparation') {
    <app-elite-four-prep-roulette
        [respinReason]="respinReason"
        [respinReasonParams]="respinReasonParams"
        (battleTrainerEvent)="chooseWhoWillEvolve($event)"
        (buyPotionsEvent)="buyPotions()"
        (catchTwoPokemonEvent)="catchTwoPokemon()"
        (catchThreePokemonEvent)="catchThreePokemon()"
        (legendaryEncounterEvent)="legendaryEncounter()"
        (findItemEvent)="findItem()"
        (doNothingEvent)="doNothing()"
        (teamRocketEncounterEvent)="teamRocketEncounter()">
    </app-elite-four-prep-roulette>
  }
  @case ('elite-four-battle') {
    <app-elite-four-battle-roulette
        [currentRound]="leadersDefeatedAmount"
        (battleResultEvent)="eliteFourBattleResult($event)">
    </app-elite-four-battle-roulette>
  }
  @case ('champion-battle') {
    <app-champion-battle-roulette
        [currentRound]="leadersDefeatedAmount"
        (battleResultEvent)="championBattleResult($event)">
    </app-champion-battle-roulette>
  }
  @case ('game-finish') {
    <app-end-game></app-end-game>
  }
  @case ('game-over') {
    <app-game-over
        [currentRound]="leadersDefeatedAmount"
        (restartEvent)="resetGameAction()">
    </app-game-over>
  }
  @default {
    <!-- Every GameState should have an arm above. Reaching here means one was added without a
         matching case; failing loudly beats blanking the screen. -->
    <p class="unhandled-state">{{ 'game.main.unhandledState' | translate }}</p>
  }
 }
