<ng-container [ngSwitch]="getGameState()">
    <app-generation-roulette
        *ngSwitchCase="'game-start'"
        (generationSelectedEvent)="handleGenerationSelected()">
    </app-generation-roulette>
    <app-character-select
        *ngSwitchCase="'character-select'"
        (trainerSelectedEvent)="handleTrainerSelected()">
    </app-character-select>
    <app-starter-roulette
        *ngSwitchCase="'starter-pokemon'"
        (selectedStarterEvent)="storePokemon($event)">
    </app-starter-roulette>
    <app-shiny-roulette
        *ngSwitchCase="'check-shininess'"
        (isShinyEvent)="setShininess($event)">
    </app-shiny-roulette>
    <app-start-adventure-roulette
        *ngSwitchCase="'start-adventure'"
        (catchPokemonEvent)="catchPokemon()"
        (battleTrainerEvent)="chooseWhoWillEvolve($event)"
        (buyPotionsEvent)="buyPotions()"
        (doNothingEvent)="doNothing()">
    </app-start-adventure-roulette>
    <app-pokemon-from-generation-roulette
        *ngSwitchCase="'catch-pokemon'"
        (selectedPokemonEvent)="storePokemon($event)">
    </app-pokemon-from-generation-roulette>
    <app-pokemon-from-aux-list-roulette
        #auxListRoulette
        *ngSwitchCase="'select-from-pokemon-list'"
        [wheelTitle]="customWheelTitle"
        [trainerTeam]="auxPokemonList"
        (selectedMemberEvent)="continueWithPokemon($event)">
    </app-pokemon-from-aux-list-roulette>
    <app-gym-battle-roulette
        *ngSwitchCase="'gym-battle'"
        [currentRound]="leadersDefeatedAmount"
        [(fromLeader)]="fromLeader"
        (battleResultEvent)="gymBattleResult($event)">
    </app-gym-battle-roulette>
    <app-check-evolution-roulette
        *ngSwitchCase="'check-evolution'"
        [(evolutionCredits)]="evolutionCredits"
        (evolvePokemonEvent)="chooseWhoWillEvolve($event)"
        (doNothingEvent)="doNothing()">
    </app-check-evolution-roulette>
    <app-main-adventure-roulette
        *ngSwitchCase="'adventure-continues'"
        [respinReason]="respinReason"
        (catchPokemonEvent)="catchPokemon()"
        (battleTrainerEvent)="chooseWhoWillEvolve($event)"
        (buyPotionsEvent)="buyPotions()"
        (doNothingEvent)="doNothing()"
        (catchTwoPokemonEvent)="catchTwoPokemon()"
        (visitDaycareEvent)="chooseWhoWillEvolve($event)"
        (teamRocketEncounterEvent)="teamRocketEncounter()"
        (mysteriousEggEvent)="mysteriousEgg()"
        (legendaryEncounterEvent)="legendaryEncounter()"
        (tradePokemonEvent)="tradePokemon()"
        (findItemEvent)="findItem()"
        (exploreCaveEvent)="exploreCave()"
        (snorlaxEncounterEvent)="snorlaxEncounter()"
        (multitaskEvent)="multitask()"
        (goFishingEvent)="goFishing()"
        (findFossilEvent)="findFossil()"
        (battleRivalEvent)="battleRival()">
    </app-main-adventure-roulette>
    <app-team-rocket-roulette
        *ngSwitchCase="'team-rocket-encounter'"
        [stolenPokemon]="stolenPokemon"
        (stealPokemonEvent)="stealPokemon()"
        (nothingHappensEvent)="doNothing()"
        (defeatInBattleEvent)="teamRocketDefeated()">
    </app-team-rocket-roulette>
    <app-mysterious-egg-roulette
        *ngSwitchCase="'mysterious-egg'"
        (selectedPokemonEvent)="storePokemon($event)">
    </app-mysterious-egg-roulette>
    <app-legendary-roulette
        *ngSwitchCase="'legendary-encounter'"
        (selectedPokemonEvent)="legendaryCaptureChance($event)">
    </app-legendary-roulette>
    <app-catch-legendary-roulette
        *ngSwitchCase="'catch-legendary'"
        [currentRound]="leadersDefeatedAmount"
        (catchLegendaryEvent)="legendaryCaptureSuccess()"
        (nothingHappensEvent)="doNothing()">
    </app-catch-legendary-roulette>
    <app-trade-pokemon-roulette
        *ngSwitchCase="'trade-pokemon'"
        (selectedPokemonEvent)="performTrade($event)">
    </app-trade-pokemon-roulette>
    <app-find-item-roulette
        *ngSwitchCase="'find-item'"
        (itemSelectedEvent)="receiveItem($event)">
    </app-find-item-roulette>
    <app-explore-cave-roulette
        *ngSwitchCase="'explore-cave'"
        (catchCavePokemonEvent)="catchCavePokemon()"
        (battleTrainerEvent)="chooseWhoWillEvolve($event)"
        (findItemEvent)="findItem()"
        (getLostEvent)="getLost()"
        (catchZubatEvent)="catchZubat()"
        (findFossilEvent)="findFossil()"
        (teamRocketEncounterEvent)="teamRocketEncounter()">
    </app-explore-cave-roulette>
    <app-cave-pokemon-roulette
        *ngSwitchCase="'catch-cave-pokemon'"
        (selectedPokemonEvent)="storePokemon($event)">
    </app-cave-pokemon-roulette>
    <app-fossil-roulette
        *ngSwitchCase="'find-fossil'"
        (selectedPokemonEvent)="storePokemon($event)">
    </app-fossil-roulette>
    <app-snorlax-roulette
        *ngSwitchCase="'snorlax-encounter'"
        [currentRound]="leadersDefeatedAmount"
        (runAwayEvent)="doNothing()"
        (defeatSnorlaxEvent)="chooseWhoWillEvolve($event)"
        (catchSnorlaxEvent)="catchSnorlax()">
    </app-snorlax-roulette>
    <app-fishing-roulette
        *ngSwitchCase="'go-fishing'"
        (selectedPokemonEvent)="storePokemon($event)">
    </app-fishing-roulette>
    <app-rival-battle-roulette
        *ngSwitchCase="'battle-rival'"
        [currentRound]="leadersDefeatedAmount"
        (battleResultEvent)="rivalBattleResult($event)">
    </app-rival-battle-roulette>
    <app-elite-four-prep-roulette
        *ngSwitchCase="'elite-four-preparation'"
        [respinReason]="respinReason"
        (catchPokemonEvent)="catchPokemon()"
        (battleTrainerEvent)="chooseWhoWillEvolve($event)"
        (buyPotionsEvent)="buyPotions()"
        (catchTwoPokemonEvent)="catchTwoPokemon()"
        (legendaryEncounterEvent)="legendaryEncounter()"
        (findItemEvent)="findItem()"
        (doNothingEvent)="doNothing()"
        (teamRocketEncounterEvent)="teamRocketEncounter()">
    </app-elite-four-prep-roulette>
    <app-elite-four-battle-roulette
        *ngSwitchCase="'elite-four-battle'"
        [currentRound]="leadersDefeatedAmount"
        (battleResultEvent)="eliteFourBattleResult($event)">
    </app-elite-four-battle-roulette>
    <app-champion-battle-roulette
        *ngSwitchCase="'champion-battle'"
        [currentRound]="leadersDefeatedAmount"
        (battleResultEvent)="championBattleResult($event)">
    </app-champion-battle-roulette>
    <app-end-game
        *ngSwitchCase="'game-finish'">
    </app-end-game>
    <app-game-over
        *ngSwitchCase="'game-over'"
        [currentRound]="leadersDefeatedAmount"
        (restartEvent)="resetGameAction()">
    </app-game-over>
</ng-container>

<ng-template #altPrizeModal let-modal>
    <div class="modal-body">
        <h1>{{ altPrizeText | translate }}</h1>
        <div class="item-panel">
            <img [src]="altPrizeSprite" height="128">
            <div class="message">
                <p>{{ altPrizeDescription | translate }}</p>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-primary" (click)="closeModal()">Ok</button>
    </div>
</ng-template>

<ng-template #pkmnEvoModal let-modal>
    <div class="modal-body">
        <h1>{{ pkmnEvoTitle | translate }}</h1>
        <div class="pokemon-switch-panel">
            <img [src]="pkmnOut.sprite?.front_default" height="128">
            <div class="message">
                <p>{{ 'game.main.roulette.evolve.modal.your' | translate }} {{ pkmnOut.text | translate }} {{ 'game.main.roulette.evolve.modal.to' | translate }} {{ pkmnIn.text | translate }}!</p>
            </div>
            <img [src]="pkmnIn.sprite?.front_default" height="128">
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-primary" (click)="closeModal()">Ok</button>
    </div>
</ng-template>

<ng-template #pkmnTradeModal let-modal>
    <div class="modal-body">
        <h1>{{ pkmnTradeTitle | translate }}</h1>
        <div class="pokemon-switch-panel">
            <img [src]="pkmnOut.sprite?.front_default" height="128">
            <div class="message">
                <p>{{ 'game.main.trade.sent' | translate }} {{ pkmnOut.text | translate }} {{ 'game.main.trade.received' | translate }} {{ pkmnIn.text }}!</p>
            </div>
            <img [src]="pkmnIn.sprite?.front_default" height="128">
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-primary" (click)="closeModal()">Ok</button>
    </div>
</ng-template>

<ng-template #itemActivateModal let-modal>
    <div class="modal-body">
        <h1>{{ currentContextItem.text | translate }} {{ 'game.main.activates' | translate }}</h1>
        <div class="item-panel">
            <img [src]="currentContextItem.sprite" height="128">
            <div class="message">
                <p>{{ currentContextItem.description | translate }}</p>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-primary" (click)="closeModal()">Ok</button>
    </div>
</ng-template>

<ng-template #infoModal let-modal>
    <div class="modal-body">
        <h1>{{ infoModalTitle }}</h1>
        <div class="explain-panel">
            <div class="message">
                <p>{{ infoModalMessage | translate }}</p>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-primary" (click)="closeModal()">Ok</button>
    </div>
</ng-template>

<ng-template #teamRocketFailsModal let-modal>
    <div class="modal-body">
        <h1>{{ 'game.main.rocket.fails' | translate }}</h1>
        <div class="explain-panel">
            <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/244.png"
                 alt="Forte igual o Entei!"
                 height="128">
            <div class="message">
                <p>{{ 'game.main.rocket.entei.emerges' | translate }}</p>
                <p>{{ 'game.main.rocket.entei.prevents' | translate}}</p>
                <p>{{ 'game.main.rocket.entei.fine' | translate }}</p>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-primary" (click)="closeModal()">{{ 'game.main.rocket.entei.thanks' | translate}}</button>
    </div>
</ng-template>