<h1 class="title">{{currentLeader.name | translate}} {{ 'game.main.roulette.gym.defeated' | translate }}</h1>
<p class="respin-reason">
    {{ (retries > 0) ? (currentItem.text | translate) + " x" + retries : ""}}
</p>
<app-wheel #wheel [items]="victoryOdds" (selectedItemEvent)="onItemSelected($event)">
</app-wheel>

<ng-template #gymLeaderPresentationModal let-modal>
    <div class="modal-body">
        <h1>{{ 'game.main.roulette.gym.against' | translate }} {{ currentLeader.name | translate }}!</h1>
        <div class="leader-panel">
            <img [src]="currentLeader.sprite" alt="{{currentLeader.name}}" height="128">
            <div class="quotes">
                <p *ngFor="let quote of currentLeader.quotes">{{quote | translate}}</p>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-primary" (click)="closeModal()">{{ 'game.main.roulette.gym.go' | translate }}</button>
    </div>
</ng-template>

<ng-template #itemUsedModal let-modal>
    <div class="modal-body">
        <h1>{{ 'game.main.roulette.gym.used' | translate }} {{ currentItem.text | translate }}!</h1>
        <div class="item-panel">
            <img [src]="currentItem.sprite" height="128">
            <div class="quotes">
                <p>{{ currentItem.description | translate}}</p>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-primary" (click)="closeModal()">Ok</button>
    </div>
</ng-template>
