<h1 class="title">Victory?</h1>
<app-wheel  #wheel
            [items]="victoryOdds"
            (selectedItemEvent)="onItemSelected($event)">
</app-wheel>

<ng-template #gymLeaderPresentationModal let-modal>
	<div class="modal-body">
        <h1>A Battle against {{ currentLeader.name }}!</h1>
        <div class="Leader Panel">
            <img [src]="currentLeader.sprite" alt="Boy" height="128">
            <div *ngFor="let quote of currentLeader.quotes">
                <p>{{quote}}</p>
            </div>
        </div>
	</div>
</ng-template>