<h1 class="title">{{ 'game.main.roulette.elite.prep.title' | translate }}</h1>
<p class="respin-reason">{{ respinReason }}</p>
<app-wheel  #wheel
            [items]="actions"
            (selectedItemEvent)="onItemSelected($event)">
</app-wheel>

<ng-template #victoryRoadModal let-modal>
    <div class="modal-body">
        <h1>{{ 'game.main.roulette.elite.prep.victoryRoad' | translate }}</h1>
        <div class="info-panel">
            <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/494.png"
                 alt="Good Luck!"
                 height="128">
            <div class="dialog">
                <p>{{ 'game.main.roulette.elite.prep.congrats' | translate }}</p>
                <p>{{ 'game.main.roulette.elite.prep.defeated' | translate }}</p>
                <p>{{ 'game.main.roulette.elite.prep.ready' | translate }}</p>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-primary" (click)="closeModal()">{{ 'game.main.roulette.elite.prep.go' | translate }}</button>
    </div>
</ng-template>
