:host ::ng-deep .dropdown-menu {
  background-color: var(--bs-secondary);
  border-color: var(--bs-secondary-border-subtle);
}

:host ::ng-deep .dropdown-item {
  color: white;
}

:host ::ng-deep .dropdown-item:hover,
:host ::ng-deep .dropdown-item:focus {
  background-color: var(--bs-dark);
  color: white;
}

:host ::ng-deep .dropdown-item.active {
  background-color: var(--bs-dark);
  color: white;
}
