<div class="row">
    <div class="col-12 col-sm-2">
      <div class="row py-4">
            <div class="col-6 col-sm-12 mb-2">
                <app-main-game-button></app-main-game-button>
            </div>
      </div>
    </div>
    <div class="col-12 col-sm-9">
        <div class="container text-center">
            <div class="mt-2 mb-4">
                <h3>
                    <ng-icon name="bootstrapGear,"></ng-icon> {{ 'settings.label' | translate }} <ng-icon name="bootstrapGear,"></ng-icon>
                </h3>
            </div>
            <div class="d-flex justify-content-center">
                <div class="row g-3" style="max-width: 500px;">
                    <div class="col-12">
                        <app-dark-mode-toggle></app-dark-mode-toggle>
                    </div>
                    <div class="col-12">
                        <div class="form-switch d-flex justify-content-between">
                            <label class="form-check-label" for="explanationsSwitch">
                                {{ 'settings.explanations' | translate }}
                            </label>
                            <input 
                                class="form-check-input" 
                                type="checkbox" 
                                [checked]="(settings$ | async)?.lessExplanations" 
                                (change)="onToggleVerbosity()"
                                id="explanationsSwitch">
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-switch d-flex justify-content-between">
                            <label class="form-check-label" for="muteAudioSwitch">
                                {{ 'settings.muteAudio' | translate }}
                            </label>
                            <input 
                                class="form-check-input" 
                                type="checkbox" 
                                [checked]="(settings$ | async)?.muteAudio" 
                                (change)="onToggleMuteAudio()"
                                id="muteAudioSwitch">
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-switch d-flex justify-content-between">
                            <label class="form-check-label" for="skipShinySwitch">
                                {{ 'settings.skipShinyRolls' | translate }}
                            </label>
                            <input 
                                class="form-check-input" 
                                type="checkbox" 
                                [checked]="(settings$ | async)?.skipShinyRolls" 
                                (change)="onToggleSkipShinyRolls()"
                                id="skipShinySwitch">
                        </div>
                    </div>
                    <div class="col-12">
                        <app-language-selector></app-language-selector>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>


